<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>DBを使用したWEBアプリ</title>
  </head>
  <body>
    <h1>メモアプリ</h1>
    <header>
      <p>...</p>
    </header>
    <%= yield %>
    <footer>
      <p>...</p>
      <ul>
        <li>
          <a href="/memos/">メモ一覧に移動</a>
        </li>
        <li>
          <a href="/memos/new/">新規メモを作る</a>
        </li>
    </footer>
  </body>
</html>
