<h2>新規メモの作成</h2>
<form method="post" action="/memos/new/">
  <label>
    メモのタイトル:
    <input type="text" name="title" size=50 maxlength=20>
  </label>
  <br>
  <label>
    メモの内容:
    <input type="text" name="content" size=50 maxlength=100>
  </label>
  <br>
  <input type="submit" value="作成する">
</form>
  
